body{
	display:flex;
	background : skyblue;
}
.wrapper{
	display:flex;
	flex-direction: column;
	background: white;
	margin: 300px 650px;
	height: 280px;
	width: 1000px;
	}
@media screen and (max-width: 600px){
	.wrapper{
		display:flex;
		flex-direction: column;
	background: white;
	margin: 300px 650px;
	}
}

h2{
	text-align: center;
}
ul{
	list-style: none;
}
 li{
	margin-right: 22px;
	border-bottom: 1px solid rgba(0,0,0,2);
	display: flex;
	padding: 10px;
}
.add-items{
	margin-top:20px;
	display: inline;
}
.plates label{
	flex: 1;
}
.add-items input{
    padding: 10px;
    border: 1px solid rgba(0,0,0,1);
}
.plates input+label:before{
	content:"☐";
	margin-right: 10px;
}
.plates input:checked +label:before{
	content:"✅";
}